
<% layout("layouts/boilerplate") %>

<div class="py-5">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8">
            <div class="card card-custom p-4">
                <h1 class="mb-4 text-center">Edit Your Listing</h1>
                <form method="post" action="/listings/<%= post._id.toString() %>?_method=PUT" class="needs-validation" enctype="multipart/form-data" novalidate>
                    <div class="mb-3">
                        <label for="title" class="form-label"><b>Title</b></label>
                        <input type="text" name="title" value="<%= post.title %>" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a title.</div>
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label"><b>Description</b></label>
                        <textarea name="description" class="form-control" style="height: 150px;" required><%= post.description %></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a description.</div>
                    </div>
                    Original Image:
                    <img src="<%= originalImage %>" class="card-img-top mb-3" alt="<%= post.title %> image" style="height: 420px;">
                    <div class="mb-3">
                        <label for="image" class="form-label"><b> Upload New Image</b></label>
                        <input type="file" name="image" class="form-control">
                        <div class="valid-feedback">Looks good!</div>
                    </div>

                    <div class="mb-3">
                        <label for="price" class="form-label"><b>Price</b></label>
                        <input type="number" name="price" value="<%= post.price %>" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please enter a price.</div>
                    </div>

                    <div class="row g-3 mb-4">
                        <div class="col-md-6">
                            <label for="country" class="form-label"><b>Country</b></label>
                            <input type="text" name="country" value="<%= post.country %>" class="form-control" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a country.</div>
                        </div>
                        <div class="col-md-6">
                            <label for="location" class="form-label"><b>Location</b></label>
                            <input type="text" name="location" value="<%= post.location %>" class="form-control" required>
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please enter a location.</div>
                        </div>
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>