<% layout("../layouts/boilerplate") %>

    <body>
        <h2>
            <%=data.title%>
        </h2>

        <div class="card" style="width: 40rem;">
            <img src="<%=data.image.url%>" class="card-img-top" alt="image" style="border-radius: 2.5rem;">
            <div class="card-body">
                <b>
                    <p class="card-text">
                    <ul>

                        <li>
                            <%=data.description%>
                        </li>
                        <li> &#x20B9 <%=data.price.toLocaleString("en-IN");%></li>
                        <li>
                            <%=data.location%>
                        </li>
                        <li>
                            <%=data.country%>
                        </li>
                    </ul>
                    </p>
                </b>
                <span>
                    <form method="get" action="/listings/<%= data._id %>/edit">
                        <button class="btn btn-primary">Edit</button>
                    </form>
                    <form method="post" action="/listings/<%= data._id %>?_method=Delete">
                        <button class="btn btn-primary">Delete</button>
                </span>
                </form>
            </div>
        </div>
        <hr style="border: 2px solid black !important; opacity: 0.2 !important;">
        <!-- Review -->
        <div class="container mt-5">

            <div class="card shadow border-0 rounded-4 p-4">

                <h3 class="mb-4">Leave a Review</h3>

                <form action="/listings/<%=data._id%>/review" method="post" novalidate class="needs-validation">

                    <!-- Comment -->
                    <div class="mb-3">
                        <label class="form-label fw-semibold">
                            Comment
                        </label>

                        <textarea class="form-control rounded-3" rows="4" placeholder="Write your review here..."
                            required name="review[Comment] invalid-feedback
                            "></textarea>
                    </div>

                    <!-- Rating Slider -->
                    <div class="mb-4">
                        <label class="form-label fw-semibold">
                            Rating: 
                            <span id="ratingValue">3</span> ⭐
                        </label>

                        <input type="range" class="form-range" min="1" max="5" step="1" value="3" id="rating"
                            oninput="ratingValue.innerText=this.value " name="review[Comment]">
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-dark rounded-pill px-4">
                        Submit Review
                    </button>

                </form>

            </div>

        </div>
    </body>